src/wsdl/localhost_8080/webSOAP/DepartamentoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.service.com/" name="DepartamentoService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.service.com/" schemaLocation="http://localhost:8080/webSOAP/DepartamentoService?xsd=1"/>
</xsd:schema>
</types>
<message name="guardarDepartamento">
<part name="parameters" element="tns:guardarDepartamento"/>
</message>
<message name="guardarDepartamentoResponse">
<part name="parameters" element="tns:guardarDepartamentoResponse"/>
</message>
<message name="actualizarDepartamento">
<part name="parameters" element="tns:actualizarDepartamento"/>
</message>
<message name="actualizarDepartamentoResponse">
<part name="parameters" element="tns:actualizarDepartamentoResponse"/>
</message>
<message name="eliminarDepartamento">
<part name="parameters" element="tns:eliminarDepartamento"/>
</message>
<message name="eliminarDepartamentoResponse">
<part name="parameters" element="tns:eliminarDepartamentoResponse"/>
</message>
<message name="mostrarUnDepartamento">
<part name="parameters" element="tns:mostrarUnDepartamento"/>
</message>
<message name="mostrarUnDepartamentoResponse">
<part name="parameters" element="tns:mostrarUnDepartamentoResponse"/>
</message>
<message name="mostrarTodosDeprtamentos">
<part name="parameters" element="tns:mostrarTodosDeprtamentos"/>
</message>
<message name="mostrarTodosDeprtamentosResponse">
<part name="parameters" element="tns:mostrarTodosDeprtamentosResponse"/>
</message>
<portType name="DepartamentoService">
<operation name="guardarDepartamento">
<input wsam:Action="http://service.service.com/DepartamentoService/guardarDepartamentoRequest" message="tns:guardarDepartamento"/>
<output wsam:Action="http://service.service.com/DepartamentoService/guardarDepartamentoResponse" message="tns:guardarDepartamentoResponse"/>
</operation>
<operation name="actualizarDepartamento">
<input wsam:Action="http://service.service.com/DepartamentoService/actualizarDepartamentoRequest" message="tns:actualizarDepartamento"/>
<output wsam:Action="http://service.service.com/DepartamentoService/actualizarDepartamentoResponse" message="tns:actualizarDepartamentoResponse"/>
</operation>
<operation name="eliminarDepartamento">
<input wsam:Action="http://service.service.com/DepartamentoService/eliminarDepartamentoRequest" message="tns:eliminarDepartamento"/>
<output wsam:Action="http://service.service.com/DepartamentoService/eliminarDepartamentoResponse" message="tns:eliminarDepartamentoResponse"/>
</operation>
<operation name="mostrarUnDepartamento">
<input wsam:Action="http://service.service.com/DepartamentoService/mostrarUnDepartamentoRequest" message="tns:mostrarUnDepartamento"/>
<output wsam:Action="http://service.service.com/DepartamentoService/mostrarUnDepartamentoResponse" message="tns:mostrarUnDepartamentoResponse"/>
</operation>
<operation name="mostrarTodosDeprtamentos">
<input wsam:Action="http://service.service.com/DepartamentoService/mostrarTodosDeprtamentosRequest" message="tns:mostrarTodosDeprtamentos"/>
<output wsam:Action="http://service.service.com/DepartamentoService/mostrarTodosDeprtamentosResponse" message="tns:mostrarTodosDeprtamentosResponse"/>
</operation>
</portType>
<binding name="DepartamentoServicePortBinding" type="tns:DepartamentoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="guardarDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarUnDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarTodosDeprtamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DepartamentoService">
<port name="DepartamentoServicePort" binding="tns:DepartamentoServicePortBinding">
<soap:address location="http://localhost:8080/webSOAP/DepartamentoService"/>
</port>
</service>
</definitions>