src/wsdl/localhost_8080/webSOAP/DepartamentoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.service.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.service.com/">

<xs:element name="actualizarDepartamento" type="tns:actualizarDepartamento"/>

<xs:element name="actualizarDepartamentoResponse" type="tns:actualizarDepartamentoResponse"/>

<xs:element name="eliminarDepartamento" type="tns:eliminarDepartamento"/>

<xs:element name="eliminarDepartamentoResponse" type="tns:eliminarDepartamentoResponse"/>

<xs:element name="guardarDepartamento" type="tns:guardarDepartamento"/>

<xs:element name="guardarDepartamentoResponse" type="tns:guardarDepartamentoResponse"/>

<xs:element name="mostrarTodosDeprtamentos" type="tns:mostrarTodosDeprtamentos"/>

<xs:element name="mostrarTodosDeprtamentosResponse" type="tns:mostrarTodosDeprtamentosResponse"/>

<xs:element name="mostrarUnDepartamento" type="tns:mostrarUnDepartamento"/>

<xs:element name="mostrarUnDepartamentoResponse" type="tns:mostrarUnDepartamentoResponse"/>

<xs:complexType name="guardarDepartamento">
<xs:sequence>
<xs:element name="pojo" type="tns:departamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departamento">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDepartamento">
<xs:sequence>
<xs:element name="pojo" type="tns:departamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarDepartamento">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarUnDepartamento">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarUnDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarTodosDeprtamentos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarTodosDeprtamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>