src/wsdl/localhost_8080/webSOAP/EmpleadoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.service.com/" name="EmpleadoService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.service.com/" schemaLocation="http://localhost:8080/webSOAP/EmpleadoService?xsd=1"/>
</xsd:schema>
</types>
<message name="mostrarUnEmpleado">
<part name="parameters" element="tns:mostrarUnEmpleado"/>
</message>
<message name="mostrarUnEmpleadoResponse">
<part name="parameters" element="tns:mostrarUnEmpleadoResponse"/>
</message>
<message name="mostrarTodosEmpleados">
<part name="parameters" element="tns:mostrarTodosEmpleados"/>
</message>
<message name="mostrarTodosEmpleadosResponse">
<part name="parameters" element="tns:mostrarTodosEmpleadosResponse"/>
</message>
<message name="guardarEmpleado">
<part name="parameters" element="tns:guardarEmpleado"/>
</message>
<message name="guardarEmpleadoResponse">
<part name="parameters" element="tns:guardarEmpleadoResponse"/>
</message>
<message name="actualizarEmpleado">
<part name="parameters" element="tns:actualizarEmpleado"/>
</message>
<message name="actualizarEmpleadoResponse">
<part name="parameters" element="tns:actualizarEmpleadoResponse"/>
</message>
<message name="eliminarEmpleado">
<part name="parameters" element="tns:eliminarEmpleado"/>
</message>
<message name="eliminarEmpleadoResponse">
<part name="parameters" element="tns:eliminarEmpleadoResponse"/>
</message>
<portType name="EmpleadoService">
<operation name="mostrarUnEmpleado">
<input wsam:Action="http://service.service.com/EmpleadoService/mostrarUnEmpleadoRequest" message="tns:mostrarUnEmpleado"/>
<output wsam:Action="http://service.service.com/EmpleadoService/mostrarUnEmpleadoResponse" message="tns:mostrarUnEmpleadoResponse"/>
</operation>
<operation name="mostrarTodosEmpleados">
<input wsam:Action="http://service.service.com/EmpleadoService/mostrarTodosEmpleadosRequest" message="tns:mostrarTodosEmpleados"/>
<output wsam:Action="http://service.service.com/EmpleadoService/mostrarTodosEmpleadosResponse" message="tns:mostrarTodosEmpleadosResponse"/>
</operation>
<operation name="guardarEmpleado">
<input wsam:Action="http://service.service.com/EmpleadoService/guardarEmpleadoRequest" message="tns:guardarEmpleado"/>
<output wsam:Action="http://service.service.com/EmpleadoService/guardarEmpleadoResponse" message="tns:guardarEmpleadoResponse"/>
</operation>
<operation name="actualizarEmpleado">
<input wsam:Action="http://service.service.com/EmpleadoService/actualizarEmpleadoRequest" message="tns:actualizarEmpleado"/>
<output wsam:Action="http://service.service.com/EmpleadoService/actualizarEmpleadoResponse" message="tns:actualizarEmpleadoResponse"/>
</operation>
<operation name="eliminarEmpleado">
<input wsam:Action="http://service.service.com/EmpleadoService/eliminarEmpleadoRequest" message="tns:eliminarEmpleado"/>
<output wsam:Action="http://service.service.com/EmpleadoService/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse"/>
</operation>
</portType>
<binding name="EmpleadoServicePortBinding" type="tns:EmpleadoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mostrarUnEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarTodosEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpleadoService">
<port name="EmpleadoServicePort" binding="tns:EmpleadoServicePortBinding">
<soap:address location="http://localhost:8080/webSOAP/EmpleadoService"/>
</port>
</service>
</definitions>